<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <style>
      header {
        background-image: url("images/anothertest.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
    {{ partial "body-top" . }}
    <main>

      <!-- About -->
      {{ partial "about.html" . }}

      <!-- Collaborators -->
      {{ partial "collaborators.html" . }}

      <!-- Blog -->
      {{ partial "blog.html" . }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
